@page "/minesweeper"
@using MineSweeperClient.Components
@using MineSweeperLogic
@inject NavigationManager _navigationManager
@inject IGame _game
@inject ILogger _logger

<style>
    .row {
        display: inline-flex;
        width: @RowWidthInput;
    }
    .AmountOfMinesTime {
        margin-left: @AmountOfTimeMarginLeft;
        margin-bottom: 30px;
    }
</style>

<div class="container text-center">
    <div class="row">
        <MineCounter AmountOfMinesLeft=@_game.Board.MineCount />
        <Timer Game=@_game />
    </div>
</div>
<div class="container text-center">
    <div class="row text-center" @oncontextmenu:preventDefault @onmousedown:preventDefault>

        @for (int i = (_game.Height - 1); i >= 0; i--)
        {
            <div class="row g-0">
                @for (int z = 0; z <= _game.Width - 1; z++)
                {
                    var identifier = new { z, i };
                    var cell = _game.Board.Cells[z, i];
                    <div class="col cell">
                        <input type="image" src="@cell.GetImageName()" id="@i, @z" value="@cell.Value"
                    class="@cell.CellState.ToString() @cell.MineState.ToString()"
                    @onmousedown="(args => btnClick(identifier.z, identifier.i, args))"
                    @oncontextmenu="(args => btnRightClick(identifier.z, identifier.i))" @oncontextmenu:preventDefault
                    @onmousedown:preventDefault />
                    </div>
                }
            </div><br>
        }
    </div>
</div>

<div class="@_game.GameState.ToString()">
    @if (_game.GameState == GameState.Lost)
    {
        <h1>You lose!</h1>
        <p>You made <strong>@_logger.ClickCount</strong>  moves in <strong>@_logger.Seconds</strong>  seconds</p>
        <button type="button" @onclick="(() => Reset())" >Reset</button>
    }
    @if (_game.GameState == GameState.Win)
    {
        <h1>You win!</h1>
        <p>You made <strong>@_logger.ClickCount</strong>  moves in <strong>@_logger.Seconds</strong>  seconds</p>
        <button type="button" @onclick="(() => SaveScore())" >Save score</button>
        <button type="button" @onclick="(() => Reset())" >Reset</button>
    }
</div>

<div class="container text-center">
    <div class="row">
        <MineSweeperClient.Components.Logger Logs=@_game.Logger.Logs />
    </div>
</div>

@code {

    public string RowWidthInput { get; set; }
    public string AmountOfTimeMarginLeft { get;set;}

    public void btnClick(int z, int i, MouseEventArgs args)
    {
        Console.WriteLine($"found value z: { z } found value i : { i}");
        var value = args.Button.ToString();
        Console.WriteLine(value);
        if (args.Button == 0)
        {
            _game.LeftClicked(z, i);
            _game.WinCheck(z, i);
            this.StateHasChanged();
        }
        if (args.Button == 1)
        {
            _game.MiddleClicked(z, i);
            _game.WinCheck(z,i);
            this.StateHasChanged();
        }
        if (args.Button == 2)
        {
            _game.RightClicked(z, i);
            this.StateHasChanged();
        }
    }

    public void btnRightClick(int z, int i)
    {

    }

    public void Reset()
    {
        _game.Start();
        _navigationManager.NavigateTo(_navigationManager.Uri, forceLoad: true);
    }

    public void SaveScore()
    {
        _navigationManager.NavigateTo("score", false);
    }

    protected override async Task OnInitializedAsync()
    {
        _game.Start();
        var RowWidth = _game.Width * 50;
        RowWidthInput = $"{RowWidth.ToString()}px";
        AmountOfTimeMarginLeft = $"{(RowWidth - 242).ToString()}px !important";
    }
}
