@page "/fetchdata"
@using MineSweeperLogic

<style>
    .Playing
    {
        visibility: hidden;
    }
    .Lost   
    {
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: solid 1px gray;
    }
    .Lost h1
    {
        margin: 100px;
    }
    .container.Playing
    {
        visibility: visible;
    }
    .container.Lost
    {
        opacity: 0.2;
    }
    .Revealed{
        
        width: 100px;
        height: 100px;
        background-color: white;
        border-color: white;
        
    }
    
    div.Hidden
    {
        visibility: hidden;
    }
    
    div.Revealed.BordersMine
    {
        visibility: visible;
        display: contents;
    }
    div.Revealed.Empty
    {
        display: none;
    }
    input.Revealed.Empty
    {
        display: none;
    }
    input.Revealed.BordersMine {
        /*
        width: 100px;
        height: 100px;
        background-color: lightblue;
        background-image: ;
        */
        display: none;
    }
    input.Hidden{
        width: 100px;
        height: 100px;
        background-color: lightgray;
        border: solid 1px gray;
    }
    .flagger{
        width: 100px;
        height: 100px;
        background-color:red;
    }
    .Revealed.Mine{
        width: 100px;
        height: 100px;
        background-color:red;
    }
</style>

<div class="container @Game.GameState.ToString() ">

    @for (int i = Height -1; i >= 0; i--)
    {
        <div class="row">
            @for (int z = 0; z <= Width -1 ; z++)
            {
                var identifier = new {i,z};
                var cell = Game.Board.Cells[i,z];

                <div class="col">

                    <input type="button" id="@i, @z"  class="@cell.CellState.ToString() @cell.MineState.ToString()" onclick="@(() => btnClick(identifier.i, identifier.z))" />
                    <div class="@cell.CellState.ToString() @cell.MineState.ToString()">
                        <i class="bi bi-1-circle "></i>
                    </div>

                </div>
            }
        </div>
    }
</div>

<div class="@Game.GameState.ToString()">
    <h1>You loose!</h1>
</div>


@code {
    public int Width { get; set; } = 10;
    public int Height { get; set; } = 10;
    public int MineCount { get; set; } = 5;
    public Game Game { get; set; }

    public void btnClick(int i, int z)
    {
        Console.WriteLine( $"found value i: { i } found value z : { z}");
        Game.LeftClicked(i ,z );
        this.StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        Game = new Game(Width, Height, MineCount);
    }
}
